/* content-form */
.content-form {
    background-color: grey;
    padding: 20px; 

    .info-input {
        color: brown; 
    }

    label, select{
        display: block; 
        margin: 10px; 
    }
    #submit-button {
        margin: 10px; 
    }
}





